body {
	margin: 0;
	margin-top: 0;

}

	.logo{
		position: absolute;
		float: left;
		margin-top: 10px;
		padding-left: 250px;
		}

	.menu {
		margin:auto;
	    font-family:MS Reference Sans Serif;
	    font-size: 17px;
	    text-align: center;
	    height:60px;
		background-color: #0b466c;
	}
	.menu a {
		color: #ffffff;
		padding: 15px;
		text-decoration: none;
	}
	.menu a:hover {
		background-color: #a70404;
		color: #ffffff;
		border-radius: 10px;
	
		transition: all 1s linear;
	}
	.menu li {
		list-style: none;
		display: inline;
		background: #0b466c;
		cursor:pointer;
	}

	.banner{
		margin-top: 0;
		line-height: 1;
		font-family: Arial;
		font-size: 30px;
		text-align:center;
		text-shadow: 0 0 0.1em #00F, 0 0 0.1em rgb(0, 0, 0), 0 0 0.1em #00F;
		background-color: #207ab2;    
	    color:#c3e3f4;
		height: 120px;
	}

	.container {
		     margin-top: 0px;
		     height: 540px;
		     background-color: #f2f5f9;
	}
	.container a{
	         text-decoration: none;

	}
	.container a:hover{
	    border-radius: 10px;
		opacity: 0.6;
		transition: all 1s linear;
	}

	.container li{
	    list-style: none;
	}

	 .container img {
	    max-width:400px;
	    max-height:120px;
	    width: auto;
	    height: auto;
	}
	.metodologia{
		float: left;
		padding: 20px;
	    padding-left: 400px;
	}
	.coaching{
		float: right;
		padding: 20px;
		padding-right: 400px;
	}
	.aulas{
		float: left;
		padding: 0px;
	    padding-left: 400px;
	}
	.aulasOnline{
		float: right;
		padding: 0px;
		padding-right: 400px;
	}
	.preparatorio{
		float: left;
	    padding: 20px;
	    padding-left: 400px;
	}
	.traducao{
		float: right;
		padding: 20px;
		padding-right: 400px;
	}

	.metodologiatitle{
		margin-top: 0px;
		width: 600px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;

	}
	.coachingtitle{
		margin-top: 0px;
		width: 600px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;
	}
	.aulastitle{
		margin-top: 0px;
		width: 600px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;
	}
	.aulasOnlinetitle{
		margin-top: 0px;
		width: 400px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;
	}
	.preparatoriotitle{
		margin-top: 0px;
		width: 600px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;
	}
	.traducaotitle{
		margin-top: 0px;
		width: 600px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;
	}

	.menurodape{
		padding: 20px; 
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
	}
	.menurodape a{
		position: relative;
		clear: both;
		text-decoration: none;
		text-align: center;
	} 
	.menurodape a:hover{
		background-color:transparent;
		opacity: 0.6;
		size: 10px;	
		transition: all 1s linear;

	}
	.menurodape li{
		list-style: none;
		display: inline;
		cursor:pointer;

	}

	h2 {
		margin:0;
		height: 550px;
		font-family: Arial;
		font-size: 22px;
		background-color: #eceff4;
	    text-align:center; 
	    line-height: 1.4;
	}

	.imgEC{
	    margin: 0px;
		margin-top: -140px;
		float: middle;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
		width: 250px;
	    
	}
	.aulasOnlineimg{
		margin-top: -150px;
		width: 220px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
	    border-radius: 10px;
	}

	.servicosimg{
		margin: 0px;
		margin-top: -150px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
		width: 200px;
		border-radius: 15px;

	}

	.clientesimg{
		margin: 0px;
		margin-top: -260px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
	    width: 300px;
	}

	.businessimg{
		margin: 0px;
		margin-top: -160px;
		width:250px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
		border-radius: 1em;}


	.clockch{
		margin: 0px;
		margin-top: -210px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;	width: 200px;
		border-radius: 1em;
		
	}

	.alunosimg{
		margin: 0px;
		margin-top: -200px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
	    width: 300px;
		border-radius: 15px;
	}
	.nivelimg{
		margin: 10px;
		margin-top: -209px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;	
	    width: 300px;

	}

	.conhecimentoimg{
		margin: 0px;
		margin-top: -200px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;	width: 290px;
		border-radius: 15px;

	}
	.pagamentoimg{
		margin: 0px;
		margin-top: -180px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
		width: 300px;
		border-radius: 15px;

	}
	.relatorioimg{
		margin: 0px;
		margin-top: -180px;
		display: flex;
	    justify-content: center;
		margin-left: auto;
	    margin-right: auto;
	    width: 280px;
		border-radius: 15px;

	}
	.rodape {
	    height: 6px;
	    font-family: arial;
	    font-size: 12px;
	    color: #fff;
	    background-color: rgb(0, 0, 0);
	    background-image: linear-gradient(to top, black, #3b70ab, black);
	    padding: 20px;
	    padding-top: 20px;
	    padding-left: 450px;
	    line-height: 0.5; 
	    text-shadow: 1px 1px 1px #000;   
	}

	.logowhatsapp{
        padding: 10px;
		float: right;
		margin-right: 70px;

		}

	.metodologia{
		padding: 10px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;	}
	.coaching{
		padding: 95px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;	}
	.aulas{
		padding: 180px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;	}
	.aulasOnline{
		padding: 265px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;	}
	.preparatorio{
		padding: 350px;
	    position: absolute;
	    left: 55%;
	    transform: translate(-50%);
	    justify-content: center;
	}
	.traducao{
		padding: 435px;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    justify-content: center;

	}

}
